@import "../../styles/variables.scss";


footer {
  color: white;
  width: 100%;
  padding: 70px 90px;

  .first-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(255,255,255, .3);
    padding-bottom: 50px;
  }

  .medias-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: rgba(255, 255, 255, .3);

    button {
      width: 50px;
      height: 50px;
      border-radius: 100%;
      font-size: 30px;
      background-color: rgba(255, 255, 255, .3);
      color: white;
      border: none; 
      cursor: pointer;
      
      &:hover {
        background-color: white;
        color: black;
        transition: all 500ms;
      }
    }

  }

  .icons-media {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;

    .circle-media {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid white;
      border-radius: 100%;
      width: 36px;
      height: 36px;
      cursor: pointer;;

      &:hover {
        background-color: white;
        color: black;
        transition: all 500ms;
      }
    }

  }
}


